.table-container{
  margin: var(--margin-m)
}

.table-container header{
  margin-left: var(--margin-xs);
  margin-bottom: var(--margin-m);
  height: var(--height-header)
}

.table-row{
  background: lightGrey
}

.table-title{
  font-size: var(--font-size-s) !important
}

.city{
  width: 250px;
}

.state{ 
  width: 50px;
}

.population{
  width: 100px
}

.area{
  width: 75px
}

.GDP{
  width: 100px
}

.IDH{
  width: 50px
}

.urb{
  width: 200px
}

.search{
  padding: 2px 4px;
  margin: 0;
  display: flex;
  align-items: center;
  width: 400px;
}

.search .icon{
 padding: 5px
}

.search .input {
  flex: 1;
  padding-left: 5px
}