:root {
  --md-grey-d: rgba(0, 0, 0, 0.87);
  --md-grey-m: rgba(0, 0, 0, 0.54);
  --md-grey-l: rgba(0, 0, 0, 0.38);
  --md-grey-vl: rgba(0, 0, 0, 0.1);
  --hsl-pri: 136, 40%, 55%; /* #5EBA76 */
  --hsl-pri-wcag-aa: 141, 51%, 44%; /* closest WCAG AA standard to actual brand colour 136, 40%, 55% */
  --hsl-pri-wcag-aaa: 136, 72%, 31%; /* #168834 - closest WCAG AAA standard to actual brand colour 136, 40%, 55% */
  --hsl-pri-l: 146, 100%, 84%;
  --hsl-neutral: 316, 0%, 99%;
  --hsl-sec: 207, 80%, 58%; /* #1ba1f1 */
  --hsl-sec-wcag-aa: 207, 78%, 57%;
  --hsl-sec-wcag-aaa: 211, 76%, 48%; /*#3885db*/
  --hsl-grey-d: rgb(60, 60, 60);
  --hsl-grey-m: rgb(110, 110, 110);
  --hsl-grey-l: 0, 0%, 78%;
  --hsl-white: 0, 0%, 100%;
  --hsl-red: 4, 94%, 69%; /*#FA7066*/
  --hsl-amber: 44, 99%, 49%; /*F9B701*/
  --hsl-superuser: var(--hsl-red);
  --hsl-manager: var(--hsl-amber);
  --hsl-qa: var(--hsl-sec-wcag-aaa); /*#008566*/
  --hsl-assessor: 184, 100%, 35%; /*#00A7B3*/
  --hsl-admin: 276, 37%, 26%; /*#472A5B*/

  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 12px;
  --height-btn-xs: 32px;
  --height-btn-s: 36px;
  --height-btn-m: 48px;
  --height-react-select: 38px;
  --height-mdc-textfield: 56px;
  --height-hdr: 60px;
  --height-activity-nav: 80px;
  --width-mdc-checkbox: 40px;
  --width-btn-asmt: 148px;
  --width-section-xxs: 224px;
  --width-section-xs: 400px;
  --width-section-s: 600px;
  --width-section-m: 800px;
  --width-screen-max: 1000px;
  --width-student-profile-min: 270px;
  --width-student-profile-max: 330px;

  --margin-xxs: 0.125rem;
  --margin-xs: 0.25rem;
  --margin-s: 0.5rem;
  --margin-m: 1rem;
  --margin-l: 1.5rem;
  --margin-xl: 2rem;
  --margin-xxl: 4rem;
  --margin-col-gap: var(--margin-xs);

  --time-msg: 1000ms;
  --time-transition: 0.3s;

  --mdc-theme-primary: hsl(var(--hsl-pri-wcag-aa));
  --mdc-theme-secondary: hsl(var(--hsl-pri));
  --theme-mdc-input-font-pri: rgba(0, 0, 0, 0.6);
  --theme-mdc-box-shadow: 0 0 0 1px var(--mdc-theme-primary) !important;

  --box-shadow-l: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  --theme-app-bgrd: hsla(var(--hsl-white), 0.95);
  --theme-modal-bgrd: hsla(var(--hsl-white), 0.85);
  --theme-btn-clr--neutral: hsl(var(--hsl-white));
  --theme-btn-bgrd--neutral: var(--md-grey-m);
  --theme-btn-bgrd--active: hsl(var(--hsl-sec));
  --theme-white: hsl(var(--hsl-white));
  --theme-link: hsl(var(--hsl-pri-wcag-aa));
  --theme-border-l: var(--md-grey-vl);
  --theme-border-m: var(--md-grey-l);
  --theme-border-d: var(--md-grey-m);
  --theme-font-pri: var(--hsl-grey-d);
  --theme-font-sec: var(--hsl-grey-m);
  --theme-font-highlight: hsl(var(--hsl-pri-wcag-aaa));
  --theme-fgrd-highlight: hsl(var(--hsl-pri-wcag-aa));
  --theme-bgrd-highlight-l: hsla(var(--hsl-pri-l), 0.38);
  --theme-bgrd-highlight-m: hsl(var(--hsl-pri-l));
  --theme-fgrd-err: hsl(var(--hsl-sec-wcag-aaa));
  --theme-bgrd-err: hsla(var(--hsl-red), 0.4);
  --theme-bgrd-completed: hsl(var(--hsl-grey-l));
  --theme-rag-g: hsl(var(--hsl-pri));
  --theme-rag-a: hsl(var(--hsl-sec));
  --theme-rag-r: hsl(var(--hsl-red));
  --theme-box-shadow: var(--box-shadow-l);
  --theme-img-pri: hsl(var(--hsl-pri));
}
